<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Insert title here</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <h1>学生情報登録</h1>

    <div th:if="${validationError}" th:each="error : ${validationError}">
      <label class="text-danger" th:text="${error}"></label>
    </div>

    <div class="w-50">
      <form th:action="@{/mstStudent/create}" th:method="post">
        <div class="form-group">
          <label>学生氏名<span class="text-danger">※</span></label>
          <input type="text" th:field="*{studentRequest.studentName}" class="form-control mb-3" />

          <label>性別<span class="text-danger">※</span></label>
          <select th:field="*{studentRequest.studentSex}" class="form-control mb-3">
            <option selected value="0"></option>
            <option th:value="1" th:text="男"></option>
            <option th:value="2" th:text="女"></option>
          </select>

          <label>年齢<span class="text-danger">※</span></label>
          <input type="number" th:field="*{studentRequest.studentAge}" class="form-control" />
          <input type="hidden" th:field="*{studentRequest.dataStatus}" />
        </div>

        <div class="text-left">
          <a href="/mstStudent/list" class="btn btn-secondary m-3">戻る</a>
          <input type="submit" value="登録" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>
</body>

</html>